@{
    ViewData["Title"] = "Login and Registration Page";
}

<div class="d-flex justify-content-between p-3">
    <div>
        @await Html.PartialAsync("_Register")
    </div>
    <div>
        @await Html.PartialAsync("_Login")
    </div>
</div>
